= render 'game_data/error', { game_data_error: @point }
= simple_form_for(@point) do |form_point|
  = form_point.input :name
  = form_point.input :caption
  = form_point.input :non_negative
  = form_point.input :protect
  = form_point.submit class: "btn btn-large btn-success"
