= link_to("新規#{@events.first.class.model_name.human}作成", new_game_data_event_path)
%br
- @events.each do |event|
  [#{event.kind}#{@events.first.class.model_name.human}]#{event.name}
  = link_to("編集", edit_game_data_event_path(event.id))
  %br
= paginate @events
