<% statuses = GameData::Status.all.map{|t| {:id => t.id, :name => t.name} } if statuses.nil? %>
<% jobs = GameData::Job.all.inject({}){|j,t| j[t.id]=t.name; j } if jobs.nil? %>

<%= form_for(register_initial) do |form_initial| %>
  <%= register_initial.updated_at %>
  <%= link_to 'Show', register_initial if controller.action_name=="index" %>
  <%= link_to 'Edit', edit_register_initial_path(register_initial) if controller.action_name=="show" %>
  <%= render :partial => 'register/error', :locals=>{:register_error=>register_initial} %>

  <%= render :partial => 'form_init_job'     , :locals=>{:register_initial=>register_initial,:form_initial=>form_initial,:jobs=>jobs} %>
  <%= render :partial => 'form_init_statuses', :locals=>{:register_initial=>register_initial,:form_initial=>form_initial,:statuses=>statuses} %>

  <% unless @read_only %>
  <div class="actions">
    <button data-remote="true" class="btn btn-large btn-warning">確認する</button>
    <%= form_initial.submit :class => "btn btn-large btn-success" %>
  </div>
  <% end %>
  <% if @update_time %>
  <div class="actions">
    <%= form_initial.submit :class => "btn btn-large btn-warning" %>
  </div>
  <% end %>
<% end %>