= simple_form_for(register_initial) do |form_initial|
  = register_initial.updated_at
  = render :partial => 'register/error', :locals=>{:register_error=>register_initial}
  = render :partial => 'form_init_guardian', :locals=>{:register_initial=>register_initial,:form_initial=>form_initial}
  = render :partial => 'form_init_statuses', :locals=>{:register_initial=>register_initial,:form_initial=>form_initial}
  = render :partial => 'form_init_arts',     :locals=>{:register_initial=>register_initial,:form_initial=>form_initial}
  - unless @read_only
    .actions
      %button.btn.btn-large.btn-warning{"data-remote" => "true"} 確認する
      = form_initial.submit :class => "btn btn-large btn-success"
  - if @update_time
    .actions
      = form_initial.submit :class => "btn btn-large btn-warning"
