- statuses.count.times{register_initial.init_statuses.build} if register_initial.init_statuses.empty?
- i = 0
%br
= form_initial.label :status
.row-fluid{:'data-check-total' => (Settings.init_status.count.total unless @read_only)}
  = form_initial.simple_fields_for :init_statuses, :defaults => { :as => (:plain if @read_only) } do |form_init_statuses|
    = form_init_statuses.input :status_id, :as => :hidden, :input_html => { :value => statuses[i][:id] }
    .span3
      = form_init_statuses.input :count, :wrapper_html => { :class => 'form-inline' }, :label => statuses[i][:name], :label_html => {:'data-help-path'=>ajax_help_path(:statuses), :'data-params'=>"id=#{statuses[i][:id]}"}, :collection => Array.new(Settings.init_status.count.each+1){|i| i }.inject({}){|h,v|h[v]=v;h}, :include_blank => false, :input_html => { :class => "span12" }
    - i += 1
