- statuses.count.times{register_initial.init_statuses.build} if register_initial.init_statuses.empty?
- i = 0
= form_initial.label :status
= content_tag(:div, :'data-check-total' => (Settings.init_status.count.total unless @read_only)) do
  = form_initial.fields_for :init_statuses do |form_init_statuses|
    = statuses[i][:name]
    = form_init_statuses.hidden_field :status_id, :value => statuses[i][:id]
    = link_to ajax_search_path(:statuses,statuses[i][:id]) , :remote => true, :'data-type' => :json, :rel => "popover", :'data-trigger' => "manual" do
      %i.icon-search
    - if @read_only
      = register_initial.init_statuses[i][:count]
      = form_init_statuses.hidden_field :count, :value => register_initial.init_statuses[i][:count]
    - else
      = form_init_statuses.select :count, Array.new(Settings.init_status.count.each+1){|i| i }.inject({}){|h,v|h[v]=v;h},{}, :class => "span2"
    = raw("<br />") if i%3==2
    - i += 1
