<h1>Listing register_initials</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @register_initials.each do |register_initial| %>
  <tr>
    <td><%= register_initial.user %></td>
    <td><%= link_to 'Show', register_initial %></td>
    <td><%= link_to 'Edit', edit_register_initial_path(register_initial) %></td>
    <td><%= link_to 'Destroy', register_initial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Initial', new_register_initial_path %>
