- i = 0
- if @read_only
  = form_battle.simple_fields_for :item_skill_settings, :wrapper => :simple, :defaults => { :as => :hidden, :user => current_user } do |form_item_skill_setting|
    %br
    %br
    = form_item_skill_setting.input :priority
    = form_item_skill_setting.input :number
    = form_item_skill_setting.input :frequency_id
    = form_item_skill_setting.input :use_condition_id
    = form_item_skill_setting.input :use_condition_variable
    = form_item_skill_setting.input :message
    ItemNo.#{form_item_skill_setting.object.number}
    %br
    優先度#{form_item_skill_setting.object.priority}：#{form_item_skill_setting.object.use_condition.name}のとき#{form_item_skill_setting.object.frequency.name}
    - i += 1
- else
  戦物設定※今は使用しても消費しない
  = form_battle.simple_fields_for :item_skill_settings, :wrapper => :simple, :defaults => { :user => current_user } do |form_item_skill_setting|
    %br
    %br
    .controls.controls-row
      %span.label.label-success.span2 優先度
      = form_item_skill_setting.input :priority, :collection => (1..8).to_a.inject({}){ |h,v| h.tap{ h[v] = v } }, :selected => (form_item_skill_setting.object.priority || (i+1)), :input_html => { :class => :'span2' }
      %span.label.span1 No.
      = form_item_skill_setting.input :number, :input_html => { :class => :'span2' }, :error_class => :'error'
      = form_item_skill_setting.input :frequency_id, :collection => @frequencies, :selected => (form_item_skill_setting.object.frequency_id || @selected_frequency), :input_html => { :'data-url' => help_path(:item_skill_settings), :'data-remote' => true, :'data-params' => "id=#{register_battle.item_skill_settings.try(:[], i).try(:[], :frequency).nil? ? @selected_frequency : form_item_skill_setting.object.frequency}", :'data-type' => :json, :'data-help-path' => help_path(:item_skill_settings), :class => :'span2' }
    .controls.controls-row
      %span.label.span2 使用条件
      = form_item_skill_setting.input :use_condition_id, :collection => @use_conditions, :selected => (form_item_skill_setting.object.use_condition_id || @selected_use_condition), :input_html => { :'data-url' => help_path(:item_skill_settings), :'data-remote' => true, :'data-params' => "id=#{register_battle.item_skill_settings.try(:[], i).try(:[], :use_condition).nil? ? @selected_use_condition : form_item_skill_setting.object.use_condition}", :'data-type' => :json, :'data-help-path' => help_path(:item_skill_settings), :class => :'span4' }
      %span.label.span1 (A)
      = form_item_skill_setting.input :use_condition_variable, :input_html => { :class => :'span2' }
    = form_item_skill_setting.input :message, :wrapper => :bootstrap, :input_html => { :class => :'message span9', :rows => 2 }, :wrapper_html => { :class => :clearfix }
    - i += 1
