= render 'game_data/error', { game_data_error: @character_type }
= simple_form_for(@character_type) do |form_character_type|
  = form_character_type.input :name
  = form_character_type.input :caption
  = form_character_type.input :player
  = form_character_type.association :equip
  = form_character_type.submit class: "btn btn-large btn-success"
