= link_to("新規#{@event_description.class.model_name.human}作成", new_game_data_event_description_path)
%br
= link_to("定義済み#{@event_description.class.model_name.human}一覧", game_data_event_descriptions_path)
%br
%br
= render 'form'
