%h3 パーティー結成

- if @party.party_members.count >= 2
  - @party.party_members.each do |member|
    - if member.character.id != @id
      #{link_to("ENo.#{member.character.id}", result_eno_path(@day_i, member.character.id), :target => :_blank)} #{member.character.result_character(@day_i).profile.name} と合言葉が一致！
      %br
#{@party.nickname}を#{@party.party_members.count}人で結成した。
