%h3 キャラデータ

ENo.#{@id} #{@profile.name}
%br
%br
愛称 #{@profile.nickname}
%br
職業 #{@job.nickname} LV#{@job.lv}
%br
守護竜 #{@guardian.name}
%br
現在地 #{link_to(@place.name, result_map_path(@day_i, @place.map.name), :target => :_blank)}
%br
%br
#{@party.nickname}
%br
- @party.party_members.each do |member|
  #{link_to("ENo.#{member.character.id}", result_eno_path(@day_i, member.character.id), :target => :_blank)} #{member.character.result_character(@day_i).profile.name}
  %br
%br
ポイント
%br
- @points.each do |point|
  #{point.nickname} #{point.value}
  %br
%br
能力
%br
- @statuses.each do |status|
  #{status.nickname} #{status.value}+#{status.bonus}
  %br
%br
技能
%br
- @arts.each do |art|
  #{art.nickname} LV#{art.lv}#{"(熟練#{art.lv_cap})" if art.lv_cap.present?}
  %br
%br
生産
%br
- @products.each do |product|
  #{product.nickname} LV#{product.lv}#{"(熟練#{product.lv_cap})" if product.lv_cap.present?}
  %br
%br
アビリティ
%br
- @abilities.each do |ability|
  #{ability.nickname} LV#{ability.lv}#{"(熟練#{ability.lv_cap})" if ability.lv_cap.present?}
  %br
%br
技
%br
- @skills.each do |skill|
  #{skill.nickname} 消費#{skill.cost}
  %br
%br
アイテム一覧
%br
- (1..@max_inventory).each do |number|
  - inventory = @inventories.find{|r| r.number == number }
  - if inventory.present?
    [#{inventory.number}] #{inventory.name} ※アイテム#{link_to("ID:#{inventory.item.id}", result_item_path(@day_i, inventory.item.id), :target => :_blank)}
    %br
    　#{inventory.element_name}（ #{inventory.type_name} / #{inventory.strength} / #{inventory.sup(:A)}#{inventory.sup(:G)} / #{inventory.sup(:B)} / #{inventory.equip? || "-"} ）#{"【破棄不可】" if inventory.item.dispose_protect}#{"【送品不可】" if inventory.item.send_protect}
    %br
  - else
    [#{number}] -
    %br
    %br
%br
イベント一覧
%br
- @events.each do |event|
  イベント名「#{event.event.name}」状態【#{event.state}】
  %br
  -if event.event.caption.present?
    説明「#{event.event.caption}」
    %br
  - if event.event_variables.present?
    %pre
      【デバッグ】
      - event.event_variables.each do |event_variable|
        #{event_variable.name} ⇒ #{event_variable.value}
        %br
  %br
