%h3 受信アイテム

- @receive_items.each do |receive_item|
  #{link_to("ENo.#{receive_item.user.id}", result_eno_path(@day_i, receive_item.user.id), :target => :_blank)} #{receive_item.user.result_character(@day_i).profile.name}
  から [#{receive_item.send_item.number}] #{receive_item.item.item_name(@day_i).name} ※アイテムID:#{receive_item.item.id} 受け取って。 [#{receive_item.number}] へ。
  %br
  - if receive_item.send_item.message.present?
    #{receive_item.user.result_character(@day_i).profile.nickname}「#{receive_item.send_item.message}」
    %br
