%h3 訓練

- @trains.each do |train|
  【#{train.trainable.class.model_name.human}】#{train.trainable.nickname}#{train.trainable.value(train.from)}を訓練
  - if train.success
    し#{train.trainable.value(train.to)}に（消費#{train.trainable.class.train_point.name}#{train.trainable.require_point(train.from)}）。
  -else 
    ・・・できない。
  %br
