=link_to :"最古", result_eno_path(@creation_day, @id) unless @day_i == @creation_day
=link_to :"前日", result_eno_path(@day_i-1, @id) if @passed_day > 0
=link_to :"後日", result_eno_path(@day_i+1, @id) if @day_i < Day.last_day_i
=link_to :"最新", result_eno_path(nil, @id) unless @day_i == Day.last_day_i
.row-fluid
  #day.span12.well
    #{@passed_day}日目
- if @diary.present?
  .row-fluid
    #diary.span12.well
      = render 'result_diary'
- if @disposes.present?
  .row-fluid
    #dispose.span12.well
      = render 'result_dispose'
- if @send_points.present?
  .row-fluid
    #send_point.span12.well
      = render 'result_send_point'
- if @receive_points.present?
  .row-fluid
    #receive_point.span12.well
      = render 'result_receive_point'
- if @send_items.present?
  .row-fluid
    #send_item.span12.well
      = render 'result_send_item'
- if @receive_items.present?
  .row-fluid
    #receive_item.span12.well
      = render 'result_receive_item'
- if @forges.present?
  .row-fluid
    #forge.span12.well
      = render 'result_forge'
- if @supplements.present?
  .row-fluid
    #supplement.span12.well
      = render 'result_supplement'
- if @equips.present?
  .row-fluid
    #equip.span12.well
      = render 'result_equip'
- if @battle.present?
  .row-fluid
    #battle.span12
      .well
        %h3 戦闘
        = render 'result_notice', { :notice => @battle.notice }
      = render 'result_battle'
- if @trains.present?
  .row-fluid
    #train.span12.well
      = render 'result_train'
- if @learns.present?
  .row-fluid
    #learn.span12.well
      = render 'result_learn'
- if @forgets.present?
  .row-fluid
    #forget.span12.well
      = render 'result_forget'
- if @blossoms.present?
  .row-fluid
    #blossom.span12.well
      = render 'result_blossom'
- if @moves.present?
  .row-fluid
    #move.span12.well
      = render 'result_move'
- if @party.present?
  .row-fluid
    #party.span12.well
      = render 'result_party'
- if @after_moves.present?
  .row-fluid
    #after_move.span12.well
      = render 'result_after_move'
- if @notice.present?
  .row-fluid
    #notice.span12.well
      %h3 戦闘予告
      = render 'result_notice', { :notice => @notice }
- if @shouts.present?
  .row-fluid
    #shout.span12.well
      = render 'result_shout'
.row-fluid
  #character_data.span12.well
    = render 'result_character_data'
