=link_to :"最古", result_map_detail_path(0, @name, @x, @y) unless @day_i == 0
=link_to :"前日", result_map_detail_path(@day_i-1, @name, @x, @y) if @day_i > 0
=link_to :"後日", result_map_detail_path(@day_i+1, @name, @x, @y) if @day_i < Day.last_day_i
=link_to :"最新", result_map_detail_path(nil, @name, @x, @y) unless @day_i == Day.last_day_i
.row-fluid
  .span12.well
    #{@map_tip.try(:name)} #{@user_ids.count}人
    %br
    %br
    - @parties.each do |party|
      #{party.nickname}
      %br
      - party.party_members.each do |member|
        #{link_to("ENo.#{member.character.id}", result_eno_path(@day_i, member.character.id), :target => :_blank)} #{member.character.result(:character, @day_i).profile.name}
        %br
      %br
