= link_to("新規#{@effect_descriptions.first.class.model_name.human}作成", new_game_data_effect_description_path)
%br
- @effect_descriptions.each do |effect_description|
  .rule
    [#{@effect_descriptions.first.class.model_name.human}]#{effect_description.name}
    = link_to("編集", edit_game_data_effect_description_path(effect_description.id))
    %br
    %br
    = tx_map.add_link(effect_description.caption_html, effect_description.name, :remote)
= paginate @effect_descriptions
