<h1>Listing register_mains</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @register_mains.each do |register_main| %>
  <tr>
    <td><%= register_main.user %></td>
    <td><%= link_to 'Show', register_main %></td>
    <td><%= link_to 'Edit', edit_register_main_path(register_main) %></td>
    <td><%= link_to 'Destroy', register_main, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Main', new_register_main_path %>
