= simple_form_for(register_make) do |form_make|
  = render :partial => 'register/error', :locals=>{:register_error=>register_make}
  = render :partial => 'register/error', :locals=>{:register_error=>register_character}
  = render :partial => 'register/error', :locals=>{:register_error=>register_initial}
  = simple_fields_for(register_character) do |form_character|
    = render :partial => 'register/characters/form_profile', :locals=>{:register_character=>register_character,:form_character=>form_character,:only_required=>true}
  = simple_fields_for(register_initial) do |form_initial|
    = render :partial => 'register/initials/form_init_guardian', :locals=>{:register_initial=>register_initial,:form_initial=>form_initial}
    = render :partial => 'register/initials/form_init_statuses', :locals=>{:register_initial=>register_initial,:form_initial=>form_initial}
    = render :partial => 'register/initials/form_init_arts',     :locals=>{:register_initial=>register_initial,:form_initial=>form_initial}
  - unless @read_only
    .actions
      %button.btn.btn-large.btn-warning{"data-remote" => "true"} 確認する
      = form_make.submit :class => "btn btn-large btn-success"
      = form_make.submit "ランダム", :class => "btn btn-large btn-danger", :name => :random
