<%= form_for(@register_make) do |form_make| %>
  <%= render :partial => 'register/error', :locals=>{:register_error=>@register_make} %>
  <%= render :partial => 'register/error', :locals=>{:register_error=>@register_character} %>
  <%= render :partial => 'register/error', :locals=>{:register_error=>@register_initial} %>

  <div class="field">
    <%= fields_for(@register_character.profile) do |form_profile| %><br />
      <%= render :partial => 'register/characters/form_profile', :locals=>{:form_profile=>form_profile} %>
    <% end %>
    <%= fields_for(@register_initial.init_job) do |form_init_job| %><br />
      <%= render :partial => 'register/initials/form_init_job', :locals=>{:form_init_job=>form_init_job} %>
    <% end %>
  </div>
  <div class="actions">
    <%= form_make.submit :class => "btn btn-large btn-success" %>
  </div>
<% end %>
