<h1>Listing register_makes</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @register_makes.each do |register_make| %>
  <tr>
    <td><%= register_make.profile.name %></td>
    <td><%= register_make.profile.nickname %></td>
    <td><%= link_to 'Show', register_make %></td>
    <td><%= link_to 'Edit', edit_register_make_path(register_make) %></td>
    <td><%= link_to 'Destroy', register_make, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Make', new_register_make_path %>
