= link_to("新規#{@battle_value.class.model_name.human}作成", new_game_data_battle_value_path)
%br
= link_to("定義済み#{@battle_value.class.model_name.human}一覧", game_data_battle_values_path)
%br
%br
= render 'form'
