= link_to("新規#{@serif_setting.class.model_name.human}作成", new_game_data_serif_setting_path)
%br
= link_to("定義済み#{@serif_setting.class.model_name.human}一覧", game_data_serif_settings_path)
%br
%br
= render 'form'
