.hero-unit
  %h1 Dragon NUnavut
  %p 定期更新ゲームを作る過程の何か
  - unless user_signed_in?
    %p
      %a.btn.btn-primary.btn-large{:href => new_user_registration_path} 新規登録 &raquo;
- tx_map = Tx::Map.open("#{Rails.root}/db/game_data/dnu")
.rule
  %p ●特殊効果内容
  != tx_map.add_link(GameData::Word.find_by_name("特殊効果内容").caption, "特殊効果内容")
.rule
  %p ◆効果
  != tx_map.add_link(GameData::Word.find_by_name("効果").caption, "効果")
.rule
  %p ◇対象
  != tx_map.add_link(GameData::Word.find_by_name("対象").caption, "対象")
.rule
  %p ◇発動条件
  != tx_map.add_link(GameData::Word.find_by_name("発動条件").caption, "発動条件")
.rule
  %p ◇効果種
  != tx_map.add_link(GameData::Word.find_by_name("効果種").caption, "効果種")
.rule
  %p ◇停止条件
  != tx_map.add_link(GameData::Word.find_by_name("停止条件").caption, "停止条件")
.rule
  %p ○効果条件
  != tx_map.add_link(GameData::Word.find_by_name("効果条件").caption, "効果条件")
