= render 'game_data/error', { game_data_error: @battle_setting }
= simple_form_for(@battle_setting) do |form_battle_setting|
  = form_battle_setting.input :kind, :collection => @kinds
  = form_battle_setting.input :name
  = form_battle_setting.submit class: "btn btn-large btn-success"
