%br
= form_product.simple_fields_for :forges, :wrapper => :simple, :defaults => { :as => (:plain if @read_only), :user => current_user, :input_html => { :class => :'span2' } } do |form_forge|
  ENo.
  = form_forge.input :user_id
  の
  = form_forge.input :number
  を使って
  = form_forge.input :item_type_id, :collection => @item_type_select
  を
  = form_forge.input :experiment, :collection => { "作製" => false,  "実験" => true }, :include_blank => false
  %br
  名前は
  = form_forge.input :name, :input_html => { :class => :'span6' }
  %br
  = form_forge.input :message, :wrapper => :bootstrap, :input_html => { :class => :'message span9', :rows => 5 }, :wrapper_html => { :class => :clearfix }
  %br
