= simple_form_for(register_product) do |form_product|
  = register_product.updated_at
  = render 'register/error', { :register_error => register_product }
  - unless @read_only
    .actions
      %button.btn.btn-large.btn-warning{"data-remote" => "true"} 確認する
      = form_product.submit :class => "btn btn-large btn-success"
  - if @update_time
    .actions
      = form_product.submit :class => "btn btn-large btn-warning"
