= simple_form_for communication, :html => { :class => "no_diff" } do |form_message|
  = form_message.input :recipients, :as => :id
  = form_message.input :subject
  = form_message.input :body
  .actions
    = form_message.submit :class => "btn btn-large btn-success"
