= simple_form_for communication, :html => { :class => "no_diff" }, :defaults => { :input_html => { :class => :'span2' } }  do |form_message|
  = form_message.input :recipients, :as => :eno, :read_only => @read_only
  = form_message.input :subject, :input_html => { :class => :'string-editor span6' }
  = form_message.input :body, :input_html => { :class => :'message-editor span9', :rows => 2 }
  .actions
    = form_message.submit :class => "btn btn-large btn-success"
