- unless notifications.blank?
  %table.table.table-hover
    %thead
      %tr
        %td From
        %td 件名
        %td 本文
        %td To
        %td 時間
    %tbody
      - notifications.each do |notification|
        - sender_id = notification.notified_object.id
        - if current_user.id==sender_id
          %tr.info
            %td ENo.#{sender_id} #{nickname_by_id(sender_id)}
            %td #{notification.subject}
            %td #{notification.body}
            %td!= notification.receipts.find(:all,:conditions=>["receiver_id NOT IN(?)", sender_id]).map{|r| "ENo." + r.receiver_id.to_s + (I18n.t("unread", :scope => "communication") if r.is_unread?).to_s }.compact.join(',')
            %td #{notification.updated_at}
        - else
          %tr.success
            %td ENo.#{sender_id} #{nickname_by_id(sender_id)}
            %td #{notification.subject} #{I18n.t("unread", :scope => "communication").html_safe if notification.receipts.find_by_receiver_id(current_user.id).is_unread?}
            %td #{notification.body}
            %td!= notification.receipts.find(:all,:conditions=>["receiver_id NOT IN(?,?)", current_user.id, sender_id]).map{|r| "ENo." + r.receiver_id.to_s + (I18n.t("unread", :scope => "communication") if r.is_unread?).to_s }.compact.join(',')
            %td #{notification.updated_at}
  = paginate notifications if notifications.respond_to?(:current_page)
