- model = model_from(img)
%table.table.table-hover
  %tbody
    %tr
      %td タグ
      %td= img.all_tags_list_on(:tags).map{|t| link_to(t,gallerys_path(model,t))}.join(',').html_safe
    %tr
      %td 名前
      %td= link_to img.name, gallery_path(model,img.id)
    %tr
      %td(colspan=2)= image_tag img.try("#{model}_url",model).to_s, :class => "img-polaroid #{model}"
    %tr
      %td 説明
      %td #{img.caption}
    %tr
      %td 公開者
      %td ENo.#{img.image.user.id} #{img.image.user.character.profile.name}
