%br
= form_image.simple_fields_for :upload_icons, :defaults => { :as => (:plain if @read_only) } do |form_upload_icons|
  = form_upload_icons.input :icon
  - if form_upload_icons.object.icon?
    = image_tag form_upload_icons.object.icon_url(:icon).to_s
    = (form_upload_icons.input :_destroy, :as => :boolean, :hint => "関連項目も削除されます。") unless @read_only
    = (form_upload_icons.input :icon_cache, :as => :hidden, :input_html => { :value => form_upload_icons.object.icon_cache }) if form_upload_icons.object.icon_cache
  = form_upload_icons.input :name
  = form_upload_icons.input :caption
