= simple_form_for(register_image, :html => { :class => :no_diff}) do |form_image|
  = register_image.updated_at
  = render :partial => 'register/error', :locals=>{:register_error=>register_image}
  = render :partial => 'form_upload_icons'  , :locals=>{:register_image=>register_image,:form_image=>form_image}
  - unless @read_only
    .actions
      = form_image.submit :class => "btn btn-large btn-success"
  - if @update_time
    .actions
      = form_image.submit :class => "btn btn-large btn-warning"
