%h1 Listing register_images

%table
  %tr
    %th User
    %th
    %th
    %th

  - @register_images.each do |register_image|
    %tr
      %td= register_image.user
      %td= link_to 'Show', register_image
      %td= link_to 'Edit', edit_register_image_path(register_image)
      %td= link_to 'Destroy', register_image, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Image', new_register_image_path
