= render 'game_data/error', { game_data_error: @battle_type }
= simple_form_for(@battle_type) do |form_battle_type|
  = form_battle_type.input :name
  = form_battle_type.input :caption
  = form_battle_type.input :normal
  = form_battle_type.input :event
  = form_battle_type.input :result
  = form_battle_type.input :rob
  = form_battle_type.input :escape
  = form_battle_type.submit class: "btn btn-large btn-success"
