- upload_icons = (upload_icons.nil? && !current_user.register_image.nil?) ? current_user.register_image.upload_icons.select([:id,:name]).inject({}){|u,i| u[i.id]=i.name;u} : {}
= simple_form_for(register_character) do |form_character|
  = register_character.updated_at
  = render 'register/error', { :register_error     => register_character }
  = render 'form_profile'  , { :register_character => register_character, :form_character => form_character }
  = render 'form_icons'    , { :register_character => register_character, :form_character => form_character, :icons => upload_icons }
  - unless @read_only
    .actions
      %button.btn.btn-large.btn-warning{"data-remote" => "true"} 確認する
      = form_character.submit :class => "btn btn-large btn-success"
  - if @update_time
    .actions
      = form_character.submit :class => "btn btn-large btn-warning"
