<%= form_for(register_character) do |form_character| %>
  <%= register_character.updated_at %>
  <%= link_to 'Show', register_character if controller.action_name=="index" %>
  <%= link_to 'Edit', edit_register_character_path(register_character) if controller.action_name=="show" %>
  <%= render :partial => 'register/error', :locals=>{:register_error=>register_character} %>

  <%= render :partial => 'form_profile', :locals=>{:register_character=>register_character,:form_character=>form_character} %>

  <% unless @read_only %>
  <div class="actions">
    <button data-remote="true" class="btn btn-large btn-warning">確認する</button>
    <%= form_character.submit :class => "btn btn-large btn-success" %>
  </div>
  <% end %>
  <% if @update_time %>
  <div class="actions">
    <%= form_character.submit :class => "btn btn-large btn-warning" %>
  </div>
  <% end %>
<% end %>