- @abilities.each do |id, ability|
  - if @ability_id.nil? or @ability_id == id
    %br
    #{ability[:nickname]} LV#{ability[:lv]}
    %br
    #{ability[:caption]}
    %br
    - ability[:lv_effects].each do |lv_effect|
      %br
      LV#{lv_effect[:lv]} #{lv_effect[:caption]}
    - ability[:pull_down_effects].each do |pull_down_effect|
      %br
      LV#{pull_down_effect[:lv]} #{pull_down_effect[:pull_down]}
