= simple_form_for(register_ability) do |form_ability|
  = register_ability.updated_at.try(:to_s, :jp)
  = render 'register/error',    { :register_error   => register_ability }
  = render 'form_ability_conf', { :register_ability => register_ability, :form_ability => form_ability }
  - unless @read_only
    .actions
      %button.btn.btn-large.btn-warning{"data-remote" => "true"} 確認する
      = form_ability.submit :class => "btn btn-large btn-success"
  - if @update_time
    .actions
      = form_ability.submit :class => "btn btn-large btn-warning"
