= link_to("新規#{@characters.first.class.model_name.human}作成", new_game_data_character_path)
%br
- @characters.each do |character|
  [#{character.kind}]#{character.name}
  = link_to("編集", edit_game_data_character_path(character.id))
  %br
= paginate @characters
