- @words.try(:each) do |word|
  .rule
    %a{:href => helps_path(word), :target=>"_blank"}= word
= form_tag(tests_character_path, :class => "no_diff select_submit") do
  = text_area_tag :text, @text, :size => "60x10", :class => "span12"
  = submit_tag "送信"
- if @text.present?
  - if @result.nil?
    .rule "入力エラー　#{@error}"
  - else
    = @result.html_safe
