- @words.try(:each) do |word|
  .rule
    %a{:href => helps_path(word), :target=>"_blank"}= word
- if @words.present?
  - @words.each do |word|
    - data = GameData::Word.find_by_name(word)
    - if data
      .rule
        %p ◆#{word}
        != tx_map.add_link(data.caption_html, word, :remote)
= form_tag(send("tests_#{@type}_path"), :class => "no_diff select_submit") do
  = text_area_tag :text, @text, :size => "60x10", :class => "span12"
  = submit_tag "送信"
- if @text.present?
  - if @result.nil?
    .rule
      エラー
      %pre= @error
  - else
    = @result.html_safe
