= render 'game_data/error', { game_data_error: @art }
= simple_form_for(@art) do |form_art|
  = form_art.association :art_type
  = form_art.input :name
  = form_art.input :caption, :input_html => { :class => :'document-editor span9', :rows => 5 }
  //- @art.build_art_effect if @art.art_effect.nil?
  //= form_art.simple_fields_for :art_effect do |form_art_effect|
  //  = form_art_effect.input :definition, :input_html => { :class => :span9, :rows => 40 }
  = form_art.submit class: "btn btn-large btn-success"
