- abilities = current_user.result(:ability).where(:forget => false).includes(:ability).all

.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header
      ENo.#{current_user.id}
    %li{:class => active_current(register_index_path)}
      %a{:href => register_index_path} 宣言トップ
    - unless Day.updating?
      %li.nav-header 行動設定
      %li{:class => active_current(new_register_main_path)}
        %a{:href => new_register_main_path}= Register::Main.model_name.human.downcase
      %li{:class => active_current(new_register_trade_path)}
        %a{:href => new_register_trade_path}= Register::Trade.model_name.human.downcase
      %li{:class => active_current(new_register_product_path)}
        %a{:href => new_register_product_path}= Register::Product.model_name.human.downcase
      %li.nav-header 戦闘設定
      %li{:class => active_current(new_register_battle_path)}
        %a{:href => new_register_battle_path}= Register::Battle.model_name.human.downcase
      %li{:class => active_current(new_register_duel_path)}
        %a{:href => new_register_duel_path}= Register::Duel.model_name.human.downcase
      %li{:class => active_current(new_register_competition_path)}
        %a{:href => new_register_competition_path}= Register::Competition.model_name.human.downcase
      - if abilities.count > 0
        %li.nav-header アビリティー
        - abilities.each do |ability|
          %li{:class => active_current(register_ability_id_path(ability.ability_id))}
            %a{:href => register_ability_id_path(ability.ability_id)}= ability.nickname
      %li.nav-header 設定
      %li{:class => active_current(new_register_character_path)}
        %a{:href => new_register_character_path}= Register::Character.model_name.human.downcase
      %li{:class => active_current(new_register_image_path)}
        %a{:href => new_register_image_path}= Register::Image.model_name.human.downcase
      - if current_user.creation_day.nil? or current_user.creation_day == Day.last_day_i
        %li.nav-header 初回登録
        %li{:class => active_current(new_register_initial_path)}
          %a{:href => new_register_initial_path}= Register::Initial.model_name.human.downcase
    %li.nav-header 履歴一覧
    %li
      = form_tag(register_history_path, :class => "no_diff select_submit") do
        = select_tag 'history[type]', options_for_select(I18n.t("options", :scope => "register.history"), :selected => select_current), :include_blank => true, :class => "span12"
/ /.well
