- koudous = [:main, :trade, :product]
- setteis = [:pet, :skill, :art]

.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header
      ENo.#{current_user.id}
    %li{:class => active_current(register_index_path)}
      %a{:href => register_index_path} 宣言トップ
    - unless Day.updating?
      %li.nav-header 行動設定
      - koudous.each do |action|
        %li{:class => active_current(send("new_register_#{action}_path"))}
          %a{:href => send("new_register_#{action}_path")}= current_user.register_mark(action) + "Register::#{action.to_s.camelize}".constantize.model_name.human
      - if current_user.form(:event).present?
        %li.nav-header イベント
        - current_user.form(:event).each do |event_content|
          %li{:class => active_current(register_new_event_content_id_event_path(event_content.id))}
            %a{:href => register_new_event_content_id_event_path(event_content.id)}= current_user.register_mark(:event, {:event_content_id => event_content.id}) + event_content.nickname
      - if current_user.form(:battle).present?
        %li.nav-header 戦闘設定
        - current_user.form(:battle).each do |battle_type|
          %li{:class => active_current(register_new_battle_type_id_battle_path(battle_type.id))}
            %a{:href => register_new_battle_type_id_battle_path(battle_type.id)}= current_user.register_mark(:battle, {:battle_type_id => battle_type.id}) + battle_type.name
      - setteis.each do |data_name|
        - if current_user.form(data_name).present?
          %li.nav-header #{"Register::#{data_name.to_s.camelize}".constantize.model_name.human}設定
          - current_user.form(data_name).each do |data|
            %li{:class => active_current(send("register_new_#{data_name}_id_#{data_name}_path", data.id))}
              %a{:href => send("register_new_#{data_name}_id_#{data_name}_path", data.id)}= current_user.register_mark(data_name, {:"#{data_name}_id" => data.id}) + data.name
      %li.nav-header 交流
      - [:message, :community, :character].each do |exchange|
        %li{:class => active_current(send("new_register_#{exchange}_path"))}
          %a{:href => send("new_register_#{exchange}_path")}= current_user.register_mark(exchange) + "Register::#{exchange.to_s.camelize}".constantize.model_name.human
      - [:image].each do |exchange|
        %li{:class => active_current(send("new_register_#{exchange}_path"))}
          %a{:href => send("new_register_#{exchange}_path")}= "Register::#{exchange.to_s.camelize}".constantize.model_name.human
      - if current_user.creation_day.nil? or current_user.creation_day == Day.last_day_i
        %li.nav-header 初回登録
        %li{:class => active_current(new_register_initial_path)}
          %a{:href => new_register_initial_path}= Register::Initial.model_name.human
    %li.nav-header 履歴一覧
    %li
      行動設定
      = form_tag(register_history_path, :class => "no_diff select_submit") do
        = select_tag 'history[url]', options_for_select(koudous.map{|r| ["Register::#{r.to_s.camelize}".constantize.model_name.human, send("register_#{r.to_s.pluralize}_path")]}, :selected => request.path_info), :include_blank => true, :class => "span12"
      - if current_user.form(:event).present?
        イベント
        = form_tag(register_history_path, :class => "no_diff select_submit") do
          = select_tag 'history[url]', options_for_select(current_user.form(:event).map{|r| [r.nickname, register_event_content_id_events_path(r.id)]}, :selected => request.path_info), :include_blank => true, :class => "span12"
      - if current_user.form(:battle).present?
        戦闘設定
        = form_tag(register_history_path, :class => "no_diff select_submit") do
          = select_tag 'history[url]', options_for_select(current_user.form(:battle).map{|r| [r.name, register_battle_type_id_battles_path(r.id)]}, :selected => request.path_info), :include_blank => true, :class => "span12"
      - setteis.each do |data_name|
        - if current_user.form(data_name).present?
          #{"Register::#{data_name.to_s.camelize}".constantize.model_name.human}設定
          = form_tag(register_history_path, :class => "no_diff select_submit") do
            = select_tag 'history[url]', options_for_select(current_user.form(data_name).map{|r| [r.name, send("register_#{data_name}_id_#{data_name.to_s.pluralize}_path", r.id)]}, :selected => request.path_info), :include_blank => true, :class => "span12"
/ /.well
