<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DNU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller.controller_name %>_body <%= controller.controller_name %>_<%= controller.action_name %>_body">

    <%= render :partial => 'layouts/navbar_top' %>

    <div class="container-fluid">
      <% if notice %>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">（・×・）</button>
          <strong>お知らせ</strong>　<%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">（・×・）</button>
          <strong>注意</strong>　<%= alert %>
        </div>
      <% end %>
      <%= render :partial => 'layouts/nav_register' %>
      <div class="span9">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag "application" %>

  </body>
</html>
